// @import "blocks/accent-button.scss";

.accent-button {
  @include display-flex-wrap;

  width: 100%;
  height: 40px;
  background-color: $accent-color;
  border: none;
  display: flex;

  &:hover,
  &:focus,
  &:active {
    background-color: $accent-color-hover;
  }

  @media (min-width: $tablet-width) {
    width: 244px;
    height: 54px;
  }
}

.accent-button__link {
  @include display-flex-wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  @include second-font;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: $basic-white;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;

    &--order {
      font-size: 16px;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
