// @import "blocks/assortment.scss";

.assortment {
  padding-top: 22px;
}

.assortment__pro-or-slim {
  @include display-flex-wrap;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  min-height: 266px;

  @media (min-width: $tablet-width) {
    padding: 52px;
    min-height: 372px;
    box-sizing: border-box;
  }
}
