// @import "blocks/assortment.scss";

.assortment {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding-bottom: 27px;

  @media (min-width: $tablet-width) {
    gap: 30px;
    padding-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
    padding-bottom: 71px;
  }
}
