// @import "blocks/basic-button.scss";

.basic-button {
  width: 280px;
  height: 40px;
  background-color: $basic-background;
  border: none;
  display: flex;
}

.basic-button__link {
  @include second-font;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: $main-content;
  text-decoration: none;
  margin: auto;
}
