// @import "blocks/catalog.scss";

.catalog__wrapper {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 74px;
    margin-bottom: 66px;
  }
}

.catalog__list {
  @include second-font;
  @include reset-list;
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;

  &--pro {
    margin-bottom: 25px;
  }

  &--slim {
    margin-bottom: 25px;
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 324px 324px;
    grid-row: 230px;
    gap: 140px 60px;

    &--pro {
      margin-bottom: 140px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    grid-row: 511px;
    gap: 60px 80px;
  }
}

.catalog__title {
  @include second-font;
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;
  margin: 0 0 41px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 164px;
  }
}

.catalog__all-products {
  padding-top: 78px;

  @media (min-width: $tablet-width) {
    padding: 161px 37px 38px;

    @include display-flex-wrap;
    justify-content: center;
  }
}

.catalog__all-link {
  text-decoration: none;
  display: block;
  width: 70%;
  color: $basic-black;
  border-bottom: 2px solid $basic-background;
}

.catalog__subtitle {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 8px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 24px;
  }
}

.catalog__subtitle::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: url("../img/catalog_img/all-products_cross.svg") no-repeat;
  position: absolute;
  top: -54px;
  left: 124px;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    top: -110px;
    left: 56px;
    background-size: 100%;
  }
}

.catalog__slogan {
  @include main-font;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400px;
  text-align: center;
  color: $main-content;
  margin: 0 0 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    width: 70%;
    margin-bottom: 86px;
  }
}
