.copyright__link {
  @include display-flex-wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: $main-content;
  fill: $icon-basic-color;
  text-decoration: none;
  width: 100%;
  height: 100%;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  &:active .copyright__logo-text {
    color: $main-content;
    opacity: 0.3;
  }

  &:active .copyright__logo-path {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.copyright__logo-text:first-child {
  margin-right: 22px;
}
