// @import "blocks/decoration-line.scss";

.decoration-line--nav {
  @media (max-width: $mobile-width-only) {
    &::before {
      content: "";
      display: block;
      width: 100vw;
      height: 1px;
      background-color: $header-element-color;
      position: absolute;
      top: 0;
    }
  }
}

.title-greenline {
  position: relative;

  @media (min-width: $tablet-width) {
    &::before {
      content: "";
      display: block;
      width: 100vw;
      height: 2px;
      background-color: $accent-color;
      position: absolute;
      top: 15px;
      left: -50vw;
      z-index: -1;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 100vw;
    height: 2px;
    background-color: $accent-color;
    position: absolute;
    left: 110%;
    top: 15px;
  }
}
/*
.element-border--nav {
  &::before {
      content: "";
      display: block;
      width: 100vw;
      height: 1px;
      background-color: $header-element-color;
      position: absolute;
      top: 0;
    }
}
*/
