// @import "blocks/decoration-line.scss";

.decoration-line {
  position: relative;
}

.decoration-line--nav {
  @media (max-width: $mobile-width-only) {
    &::before {
      content: "";
      display: block;
      width: 100vw;
      height: 1px;
      background-color: $header-element-color;
      position: absolute;
      top: 0;
    }
  }
}

.decoration-line--legend {
  &::before {
    content: "";
    display: block;
    width: 100vw;
    height: 2px;
    background-color: $accent-color;
    position: absolute;
    top: 26px + 16px;
    left: 111%;
    z-index: -1;
  }

  @media (min-width: $tablet-width) {
    &::before {
      content: "";
      display: block;
      width: 100vw;
      height: 2px;
      background-color: $accent-color;
      position: absolute;
      top: 15px;
      left: -50vw;
      z-index: -1;
    }
  }
}
