// @import "blocks/features.scss";

.features {
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    border-bottom: 1px solid $header-element-color;
  }
}

.features__title {
  @include second-font;
  font-size: 36px;
  line-height: 40px;
  margin: 27px 0 25px;
}

.features__list {
  @include reset-list;
  counter-reset: num;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 60px 60px 60px 60px;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 280px 280px;
    gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 280px;
    gap: 80px;
  }
}

.features__item {
  @include display-flex-wrap;
  align-items: center;
  position: relative;

  &--leaf {
    background-image:
      url("../img/index_img/features-image_item1.svg"),
      linear-gradient($accent-color, $accent-color);
  }

  &--tub {
    background-image:
      url("../img/index_img/features-image_item2.svg"),
      linear-gradient($accent-color, $accent-color);
  }

  &--cutlery {
    background-image:
      url("../img/index_img/features-image_item3.svg"),
      linear-gradient($accent-color, $accent-color);
  }

  &--alarm {
    background-image:
      url("../img/index_img/features-image_item4.svg"),
      linear-gradient($accent-color, $accent-color);
  }

  background-position: 10px 10px, left top;
  background-size: 30px 30px, 50px 50px;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .features__item::before {
    content: counter(num) "";
    counter-increment: num;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 112px;
    height: 280px;

    @include second-font;
    font-size: 280px;
    line-height: 280px;
    color: $basic-background;
    text-align: right;
  }
}

.features__text {
  z-index: 1;
  margin: auto 0;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    padding-left: 0;
    width: 201px;
    margin: 0;
  }
}
