// @import "blocks/features.scss";

.features {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.features__title {
  @include second-font;
  font-size: 36px;
  line-height: 40px;
  margin: 0 0 38px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.features__list {
  @include reset-list;
  counter-reset: num;
  min-height: 300px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 280px 280px;
    gap: 38px 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 284px;
    gap: 80px;
  }
}

.features__item {
  @include display-flex-wrap;
  align-items: center;
  position: relative;

  &--leaf {
    background-image:
      url("../img/index_img/features-image_item1.svg"),
      linear-gradient($accent-color, $accent-color);
  }

  &--tub {
    background-image:
      url("../img/index_img/features-image_item2.svg"),
      linear-gradient($accent-color, $accent-color);
  }

  &--cutlery {
    background-image:
      url("../img/index_img/features-image_item3.svg"),
      linear-gradient($accent-color, $accent-color);
  }

  &--alarm {
    background-image:
      url("../img/index_img/features-image_item4.svg"),
      linear-gradient($accent-color, $accent-color);
  }

  background-position: 15px 15px, left;
  background-size: 30px 30px, 60px 100%;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 82px;
    background-position: 25px 60px, left top 35px;
    background-size: 30px 30px, 80px 80px;
    background-repeat: no-repeat;
  }
}

.features__item::before {
  @media (min-width: $tablet-width) {
    content: counter(num) "";
    counter-increment: num;
    display: inline-block;
    position: absolute;
    top: -6px;
    left: 35%;
    width: 112px;
    height: 280px;

    @include second-font;
    font-size: 280px;
    line-height: 280px;
    color: $basic-background;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    left: 47%;
  }
}

.features__text {
  z-index: 1;
  margin: 0 0;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-left: 0;
    width: 80%;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}
