// @import "blocks/form-info.scss";

.form-info__label {
  margin-right: 16px;
}

.form-info__input {
  height: 45px;
  width: 50%;
  flex-grow: 1;
  border: 1px solid $input-border-light;
  box-sizing: border-box;

  &--text {
    padding: 24px 12px 18px;
  }

  &--number {
    padding: 24px 16px 18px;
  }

  &::placeholder {
    @include second-font;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: inherit;
  }

  @media (min-width: $tablet-width) {
    height: 52px;

    &--text {
      padding: 26px 18px 18px;
    }

    &--number {
      padding: 28px 22px 18px;
    }

    &::placeholder {
      font-size: 20px;
      line-height: auto;
    }
  }
}
