// @import "blocks/form-info.scss";

.form-info {
  padding: 24px 0;

  &--contacts {
    padding-bottom: 0;
  }
}

.form-info__label {
  margin-right: 14px;
}

.form-info__input {
  height: 45px;
  width: 50%;
  flex-grow: 1;
  border: 1px solid $input-border-light;
  box-sizing: border-box;

  &--text {
    padding: 24px 14px 18px;
  }

  &--number {
    padding: 24px 18px 18px;
  }

  &::placeholder {
    @include second-font;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: inherit;
  }
}
