// @import "blocks/form.scss";

.form {
  @include display-flex-wrap;
  justify-content: space-between;
  padding-bottom: 18px;
}

.form__fieldset {
  @include second-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  width: 100%;
  margin: 0;

  &--half {
    @media (min-width: $desktop-width) {
      width: 569px;
      height: 200px;
    }
  }
}

.form__fieldset-border {
  position: relative;

  @media (max-width: $mobile-width-only) {
    &::before {
      content: "";
      display: block;
      width: 100vw;
      height: 1px;
      background-color: $header-element-color;
      position: absolute;
      top: 0;
    }

    &::after {
      content: "";
      display: block;
      width: 100vw;
      height: 1px;
      background-color: $header-element-color;
      position: absolute;
      bottom: 0;
    }
  }

  @media (min-width: $tablet-width) {
    border: 1px solid $input-border-light;
    box-sizing: border-box;
    padding-left: 28px;
  }
}

.form__list {
  @include reset-list;
}

.form__list--row {
  @media (min-width: $desktop-width) {
    @include display-flex-wrap;
    justify-content: space-between;
    margin: 0;
  }
}

.form__item {
  @include display-flex-wrap;
  min-height: 43px;
  justify-content: space-between;
  align-items: center;

  &--info {
    margin: 14px 0;
  }

  &--select {
    margin: 0;
  }

  &--half {
    @media (min-width: $desktop-width) {
      width: 569px;
    }
  }
}

.form__legend {
  width: fit-content;
  text-align: left;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  background-color: $basic-white;
  padding: 26px 0 0;

  &--comment {
    padding: 6px 0 38px;
  }

  &--select {
    padding: 22px 0 10px;
  }
}

.form__textarea {
  width: 100%;
  min-height: 150px;
  padding: 6px 12px 10px 15px;
  border: 1px solid $input-border-light;
  box-sizing: border-box;
  resize: none;
}

.form__textarea::placeholder {
  @include second-font;
  font-size: 16px;
  text-transform: uppercase;
  color: $main-content;
}

.form__submit {
  @include second-font;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: $basic-white;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 14px 0 8px;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.form__note {
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-left: 60px;
  }
}
