.form {
  @include display-flex-wrap;
  justify-content: space-between;
}

.form__wrapper {
  padding: 0;

  &--info {
    margin: 0 0 40px;

    @media (min-width: $tablet-width) {
      margin-bottom: 86px;
    }
  }

  &--radio {
    margin: 0 0 38px;

    @media (min-width: $tablet-width) {
      margin-bottom: 92px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 22px;
    }
  }

  &--contacts {
    margin: 0 0 24px;

    @media (min-width: $tablet-width) {
      margin-bottom: 64px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 52px;
    }
  }

  &--comments {
    margin: 0 0 22px;

    @media (min-width: $tablet-width) {
      margin-bottom: 66px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 68px;
    }
  }

  &--checkbox {
    margin: 0 0 26px;

    @media (min-width: $tablet-width) {
      margin-bottom: 38px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 46px;
    }
  }
}

.form__fieldset {
  @include second-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: auto;
  }

  &--half {
    @media (min-width: $desktop-width) {
      width: 47%;
      height: 200px;
      margin-bottom: 46px;
    }
  }
}

.form__list {
  @include reset-list;

  &--contacts {
    padding-top: 32px;

    @media (min-width: $tablet-width) {
      padding-top: 72px;
    }

    @media (min-width: $desktop-width) {
      @include display-flex-wrap;
      justify-content: space-between;
    }
  }

  &--checkbox {
    padding-top: 26px;

    @media (min-width: $tablet-width) {
      padding-top: 40px;
    }
  }
}

.form__list--add {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 72px 72px;
    gap: 0 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 72px;
    gap: 0 76px;
  }
}

.form__item {
  @include display-flex-wrap;
  min-height: 43px;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  &--info:not(:last-child) {
    margin: 0 0 14px;
  }

  @media (min-width: $tablet-width) {
    min-height: 58px;

    &--radio {
      min-height: 54px;
    }
  }

  @media (min-width: $desktop-width) {
    &--info {
      margin-bottom: 14px;
    }

    &--half {
      width: 47%;
    }
  }
}

.form__legend {
  padding: 0 22px 0 0;
  width: min-content;
  text-align: left;
  font-size: 24px;
  line-height: 26px;
  text-transform: none;
  background-color: $basic-white;

  @media (min-width: $tablet-width) {
    padding: 0 42px 0 40px;
    margin-left: -40px;
    width: fit-content;
    font-size: 36px;
    line-height: 36px;
  }
}

.form__textarea {
  width: 100%;
  min-height: 150px;
  margin-top: 37px;
  padding: 6px 10px 6px 15px;
  border: 1px solid $input-border-light;
  box-sizing: border-box;
  resize: none;

  @media (min-width: $tablet-width) {
    min-height: 174px;
    margin-top: 74px;
    padding: 12px 17px;
  }
}

.form__textarea::placeholder {
  @include second-font;
  font-size: 16px;
  text-transform: uppercase;
  color: $main-content;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__submit {
  @include second-font;
  text-transform: uppercase;
  color: $basic-white;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 0 22px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    width: 45%;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    line-height: 0;
    width: 47%;
  }
}

.form__note {
  margin: 0;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  text-transform: none;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    display: inline-block;
    font-size: 16px;
    text-align: left;
    width: 50%;
    padding: 18px 0;
    text-indent: 30px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    padding: 18px;
    text-indent: 58px;
  }
}
