// @import "blocks/form-main.scss";

.form-main__wrapper {
  @include display-flex-wrap;
  flex-direction: column;
  padding: 26px 0 32px;

  @media (min-width: $tablet-width) {
    padding: 76px 40px 70px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.form-main__title {
  @include second-font;
  font-size: 36px;
  line-height: 36px;
  color: $basic-black;
  margin: 0 0 38px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 54px;
  }
}

.form-main__description {
  @include second-font;
  text-transform: uppercase;
  width: 85%;
  min-height: 36px;
  margin: 0 0 38px;

  @media (min-width: $tablet-width) {
    width: 60%;
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 62px;
  }
}
