// @import "blocks/illustrative-example.scss";

.illustrative-example {
  background-color: $slider-background;
  padding: 25px 0;

  @media (min-width: $tablet-width) {
    background-color: $basic-white;
    background-image: linear-gradient(rgba($slider-background, 0.85), rgba($slider-background, 0.85));
    background-position: center bottom;
    background-size: 100vw 462px;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.illustrative-example__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 656px;
  }
}
