// @import "blocks/illustrative-example.scss";

.illustrative-example {
  background-color: $slider-background;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    border-top: 1px solid $header-element-color;
    padding-top: 43px;
    background-color: $basic-white;
    background-image: linear-gradient(rgba($basic-background, 0.85), rgba($basic-background, 0.85));
    background-position: center bottom;
    background-size: 100vw 462px;
    background-repeat: no-repeat;
    padding-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    border-top: none;
    padding-top: 0;
    padding-bottom: 0;
  }
}

.illustrative-example__wrapper {
  padding-bottom: 30px;
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 630px;
  }
}
