// @import "blocks/inet-contacts.scss";

.inet-contacts__list {
  @include reset-list;
}

.inet-contacts__item:first-child {
  @include display-flex-wrap;
  justify-content: center;
  align-items: center;
  min-height: 95px;
  border-bottom: 1px solid $main-element-color;
}

.inet-contacts__item:nth-child(2) {
  @include display-flex-wrap;
  justify-content: center;
  align-items: center;
  min-height: 63px;
  border-bottom: 1px solid $main-element-color;
}

.inet-contacts__item:last-child {
  @include display-flex-wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 78px;
}
