.logo__header-wrapper {
  width: 100%;
  position: relative;

  @include display-flex-wrap;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    align-items: center;
  }
}

.logo__mobile-cat {
  display: none;

  @media (max-width: $mobile-width-only) {
    display: block;
    position: absolute;
    left: 0;
  }
}

.logo__link {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo__text {
  &--header {
    @media (min-width: $tablet-width) {
      width: 174px;
      height: 52px;
    }

    @media (min-width: $desktop-width) {
      width: 202px;
      height: 60px;
    }
  }
}
