// @import "blocks/navigation.scss";

.navigation {
  @include display-flex-wrap;
  align-items: center;
  justify-content: center;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 100%;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-end;
  }
}

@media (max-width: $mobile-width-only) {
  .navigation__toggle {
    width: 30px;
    height: 24px;
    cursor: pointer;
    position: absolute;
    top: -48px;
    right: -6px;
    border: none;
    background-color: transparent;
  }

  .navigation {
    &--closed {
      .navigation__toggle {
        background: url("../img/nav-open.svg") no-repeat 3px 3px;
      }

      .navigation__item {
        display: none;
      }
    }

    &--opened {
      .navigation__toggle {
        background: url("../img/nav-close.svg") no-repeat 3px 3px;
      }
    }

    &--nojs {
      .navigation__toggle {
        display: none;
      }

      .navigation__item {
        display: flex;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .navigation__toggle {
    display: none;
  }
}

.navigation__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    @include display-flex-wrap;
    justify-content: flex-end;
  }
}

.navigation__item {
  @include display-flex-wrap;
  justify-content: center;
  position: relative;
  padding: 24px 0 22px;

  @media (min-width: $tablet-width) {
    padding: 0;

    &:not(:last-child) {
      margin-right: 36px;
    }
  }
}

.navigation__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  color: $basic-black;
  position: relative;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;

    &[aria-current]::before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: $accent-color;
      position: absolute;
      bottom: -10px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: auto;

    &--white {
      color: $basic-white;
    }

    &--white[aria-current]::before {
      background-color: $basic-white;
    }
  }
}
