.navigation {
  @include display-flex-wrap;
  align-items: center;
  justify-content: center;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 100%;
    justify-content: flex-end;
  }
}

@media (max-width: $mobile-width-only) {
  .navigation__toggle {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: -44px;
    right: -8px;
    border: none;
    background-color: transparent;
  }

  .navigation {
    &--closed {
      .navigation__toggle {
        background-image: url("../img/nav-closed.svg");
        background-repeat: no-repeat;
        background-size: 28px 18px;
      }

      .navigation__item {
        display: none;
      }
    }

    &--opened {
      .navigation__toggle {
        background-image: url("../img/nav-opened.svg");
        background-repeat: no-repeat;
        background-size: 20px 20px;
      }
    }

    &--nojs {
      .navigation__toggle {
        display: none;
      }

      .navigation__item {
        display: flex;
      }
    }
  }
}

@media (min-width: $tablet-width) {
  .navigation__toggle {
    display: none;
  }
}

.navigation__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    @include display-flex-wrap;
    justify-content: flex-end;
  }
}

.navigation__item {
  @include display-flex-wrap;
  justify-content: center;
  position: relative;
  padding: 24px 0 22px;

  @media (min-width: $tablet-width) {
    padding: 8px 0;
    box-sizing: border-box;

    &[aria-current] {
      border-bottom: 2px solid $accent-color;
    }

    &:not(:last-child) {
      margin-right: 36px;
    }
  }

  @media (min-width: $desktop-width) {
    &--white[aria-current] {
      border-bottom: 2px solid $basic-white;
    }

    &--white > .navigation__link {
      color: $basic-white;
    }
  }
}

.navigation__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  color: $basic-black;
  position: relative;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }


  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: auto;

    &--white[aria-current]::before {
      background-color: $basic-white;
    }
  }
}
