// @import "blocks/navigation.scss";

.navigation {
  @include display-flex-wrap;
  align-items: center;
  justify-content: center;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 100%;
    justify-content: flex-end;
  }

  @media (min-width: $desktop-width) {
    align-items: flex-end;
  }
}

@media (max-width: $mobile-width-only) {
  .navigation__toggle {
    width: 48px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    top: -50px;
    right: -10px;
    border: none;
    background-color: transparent;
  }

  .navigation--closed .navigation__toggle::before {
    content: "";
    display: block;
    width: 24px;
    height: 2px;
    background-color: $basic-black;
    position: absolute;
    top: 8px;
    left: 14px;
    box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;
  }

  .navigation--opened .navigation__toggle {
    &::before,
    &::after {
      content: "";
      display: block;
      width: 24px;
      height: 2px;
      background-color: $basic-black;
      position: absolute;
      top: 16px;
      left: 14px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  .navigation--closed .navigation__item {
    display: none;
  }

  .navigation--nojs .navigation__toggle {
    display: none;
  }

  .navigation--nojs .navigation__item {
    display: flex;
  }
}

@media (min-width: $tablet-width) {
  .navigation__toggle {
    display: none;
  }
}

.navigation__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    @include display-flex-wrap;
    justify-content: flex-end;
  }
}

.navigation__item {
  @include display-flex-wrap;
  justify-content: center;
  position: relative;
  padding: 22px 0 24px;

  @media (min-width: $tablet-width) {
    padding: 0;

    &:not(:last-child) {
      margin-right: 36px;
    }
  }
}

.navigation__link {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  color: $basic-black;
  position: relative;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;

    &[aria-current]::before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: $accent-color;
      position: absolute;
      bottom: -10px;
      left: 0;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: auto;

    &--white {
      color: $basic-white;
    }

    &[aria-current]::before {
      background-color: $basic-white;
    }
  }
}
