// @import "blocks/page-body.scss";

.page__body {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    min-width: 768px;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
  }
}
