// @import "blocks/page-header.scss";

.page-header__wrapper {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 3fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.page-header__logo {
  padding: 12px 0;

  @media (min-width: $tablet-width) {
    padding: 25px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 54px 0 0;
  }
}

.page-header__navigation {
  @media (min-width: $tablet-width) {
    padding: 42px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 0 0;
  }
}
