// @import "blocks/pro-or-slim.scss";

.pro-or-slim {
  background-color: $basic-background;
  padding: 30px 20px 20px;

  @media (min-width: $tablet-width) {
    padding: 78px 52px 56px;
  }

  @media (min-width: $desktop-width) {
    padding: 75px 52px 60px;
  }
}

.pro-or-slim--slim {
  background-image:
    url("../img/index_img/cat_slim.svg"),
    radial-gradient(50px 50px at 50% 50%, $accent-color 50%, transparent 50%);
  background-position: 29px 21px, 22px 24px;
  background-size: 36px 50px, 50px 50px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-image:
      url("../img/index_img/cat_slim.svg"),
      radial-gradient(200px 200px at 50% 50%, $accent-color 50%, transparent 50%);
    background-position: right 92px top 81px, right 62px top 92px;
    background-size: 140px 192px, 200px 200px;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    background-image:
      url("../img/index_img/cat_slim.svg"),
      radial-gradient(100px 100px at 50% 50%, $accent-color 50%, transparent 50%);
    background-position: 67px 41px, 52px 47px;
    background-size: 70px 97px, 100px 100px;
    background-repeat: no-repeat;
  }
}

.pro-or-slim--pro {
  background-image:
    url("../img/index_img/cat_pro.svg"),
    radial-gradient(50px 50px at 50% 50%, $accent-color 50%, transparent 50%);
  background-position: 12px 35px, 22px 24px;
  background-size: 67px 28px, 50px 50px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background-image:
      url("../img/index_img/cat_pro.svg"),
      radial-gradient(200px 200px at 50% 50%, $accent-color 50%, transparent 50%);
    background-position: right 27px top 135px, right 62px top 92px;
    background-size: 268px 112px, 200px 200px;
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    background-image:
      url("../img/index_img/cat_pro.svg"),
      radial-gradient(100px 100px at 50% 50%, $accent-color 50%, transparent 50%);
    background-position: 32px 67px, 52px 47px;
    background-size: 134px 56px, 100px 100px;
    background-repeat: no-repeat;
  }
}

.pro-or-slim__title {
  @include second-font;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0 0 29px 70px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin: 0 0 24px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 73px 162px;
  }
}

.pro-or-slim__text {
  width: 100%;
  min-height: 90px;
  padding-bottom: 23px;
  border-bottom: 1px solid $main-element-color;
  margin: 0 0 18px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 63%;
    min-height: 96px;
    padding-bottom: 0;
    border-bottom: none;
    margin-bottom: 52px;

    &--pro {
      width: 57%;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
    width: 100%;
    min-height: 72px;
  }
}

.pro-or-slim__link-text {
  margin-right: 12px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 22px;
  }
}

.pro-or-slim__link-arrow {
  width: 24px;
}

.pro-or-slim__link {
  @include second-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: $basic-black;
  width: auto;
  height: auto;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover .pro-or-slim__link-arrow {
    width: 32px;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 161px;
    min-height: 38px;
  }
}
