// @import "blocks/promo.scss";

.promo {
  background-image:
    url("../img/index_img/promo-product.png"),
    linear-gradient(rgba($accent-color, 0.85), rgba($accent-color, 0.85)),
    url("../img/index_img/cat_background.jpg"),;
  background-position: center 167px, top, center top;
  background-size: 280px 270px, 100vw 302px, auto 302px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    min-height: 872px;
    background-image: url("../img/index_img/promo-product.png");
    background-position: center bottom;
    background-size: 709px 609px;
    background-repeat: no-repeat;
  }
}

.promo__block {
  @include second-font;
  text-align: center;
  color: $basic-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 480px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    min-height: 872px;
    color: $basic-black;
    align-items: flex-start;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 82px;
  }
}

.promo__title {
  width: 249px;
  min-height: 72px;
  font-size: 36px;
  line-height: 1em;
  font-weight: 400;
  padding-top: 27px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 414px;
    min-height: 120px;
    font-size: 60px;
    line-height: 1em;
    text-align: left;
    margin-left: 87px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.promo__slogan {
  font-size: 14px;
  line-height: 1em;
  text-transform: uppercase;
  margin: 25px 0;

  @media (min-width: $tablet-width) {
    width: 283px;
    min-height: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-left: 87px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

@media (min-width: $tablet-width) {
  .promo__button {
    margin-left: 87px;
  }
}

@media (min-width: $desktop-width) {
  .promo__button {
    margin-left: 80px;
  }
}
