.promo-offer {
  @include display-flex-wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 189px;
  padding: 60px 50px 40px;
  background-image: url("../img/catalog_img/mobile/gift-photo-320.jpg");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/catalog_img/mobile/gift-photo-320@2x.jpg");
  }

  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: rgba($accent-color, 0.85);
  position: relative;

  @media (min-width: $tablet-width) {
    height: 80px;
    padding: 60px 118px 60px 80px;
    flex-direction: row;

    background-image: url("../img/catalog_img/tablet/gift-photo-768.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog_img/tablet/gift-photo-768@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 189px;
    padding: 60px 40px 40px;
    margin-top: 118px;
    background-image: url("../img/catalog_img/desktop/gift-photo-1440.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog_img/tablet/gift-photo-1440@2x.jpg");
    }
  }
}

.promo-offer__special {
  @include main-font;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  text-align: center;
  vertical-align: bottom;
  width: 100%;
  margin: 0;

  @media (min-width: $tablet-width) {
    text-align: left;
    width: 33%;
  }

  @media (min-width: $desktop-width) {

    width: 100%;
    text-align: center;
  }
}

.promo-offer__image {
  display: block;
}
