// @import "blocks/promo.scss";

.promo {
  background-image:
    linear-gradient(rgba($accent-color, 0.85), rgba($accent-color, 0.85)),
    url("../img/index_img/cat-background320.jpg");

  @media (min-resolution: 2dppx) {
    background-image:
      linear-gradient(rgba($accent-color, 0.85), rgba($accent-color, 0.85)),
      url("../img/index_img/cat-background320@2x.jpg");
  }

  background-position: top, top;
  background-size: 100vw 302px, auto 302px;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    background: none;
  }

  @media (min-width: $desktop-width) {
    &::before {
      content: "";
      height: 696px;
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
      width: 100vw;

      background-image:
        linear-gradient(rgba($accent-color, 0.85), rgba($accent-color, 0.85)),
        url("../img/index_img/cat-background1440.jpg");

      @media (min-resolution: 2dppx) {
        background-image:
          linear-gradient(rgba($accent-color, 0.85), rgba($accent-color, 0.85)),
          url("../img/index_img/cat-background1440@2x.jpg");
      }

      background-position: left bottom, left bottom;
      background-size: 100vw 696px, auto 696px;
      background-repeat: no-repeat;
    }
  }
}

.promo__wrapper {
  padding-top: 28px;
  margin-bottom: 22px;
  min-height: 452px;

  @include display-flex-wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 32px;
    min-height: 788px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  @media (min-width: $desktop-width) {
    min-height: 534px;
    padding-top: 54px;
  }
}

.promo__content {
  @include second-font;
  text-align: center;
  color: $basic-white;
  position: relative;

  @media (min-width: $tablet-width) {
    color: $basic-black;
    padding-left: 87px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 82px;
  }
}

.promo__title {
  width: 249px;
  min-height: 72px;
  font-size: 36px;
  line-height: 1em;
  font-weight: 400;
  margin: 0 0 25px;

  @media (min-width: $tablet-width) {
    width: 414px;
    min-height: 120px;
    font-size: 60px;
    line-height: 1em;
    text-align: left;
    margin-bottom: 41px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 40px;
  }
}

.promo__slogan {
  font-size: 14px;
  line-height: 1em;
  text-transform: uppercase;
  margin: 25px 0;

  @media (min-width: $tablet-width) {
    width: 283px;
    min-height: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__button {
  @media (min-width: $tablet-width) {
    margin-left: 82px;
  }
}

.promo__image {
  left: 1%;
  width: 100%;
  height: 270px;
  object-fit: contain;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 234px;
    left: -2px;
    height: 609px;
    z-index: -1;
  }

  @media (min-width: $desktop-width) {
    top: -26px;
    left: 116px;
    height: 499px;
  }
}
