.related-product {
  @include second-font;
}

.related-product__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 37px;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    gap: 66px;
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 3fr 20%;
    gap: 80px;
    margin-bottom: 88px;
  }
}

.related-product__catalog {
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    padding: 0 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.related-product__title {
  width: fit-content;
  margin: 0 0 34px;
  text-align: left;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  color: $basic-black;
  position: relative;
  background-color: $basic-white;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 78px;
    padding: 0 34px 0 38px;
    margin-left: -38px;
  }
}

.related-product__list {
  width: 100%;
}

.related-product__item {
  @include display-flex-wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 110px;
  padding: 8px 0 10px;
  border-top: 1px solid $catalog-border;

  @media (min-width: $tablet-width) {
    align-items: baseline;
    padding: 24px 0 4px;
  }

  @media (min-width: $desktop-width) {
    min-height: 42px;
    padding: 14px 0;
  }
}

.related-product__name {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $catalog-title;
  padding: 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    width: 30%;
    flex-grow: 1;
  }
}

.related-product__propety {
  @include main-font;
  font-size: 14px;
  line-height: 14px;
  color: $main-content;
  text-align: right;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;

    &--price {
      width: 14%;
    }
  }

  @media (min-width: $desktop-width) {
    &--value {
      width: 23%;
      text-align: left;
    }

    &--price {
      width: 13%;
      text-align: center;
    }
  }
}

.related-product__propety-value-upp {
  text-transform: uppercase;
}

.related-product__order {
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}

.related-product__button {
  width: 100%;

  @media (min-width: $tablet-width) {
    height: 40px;
  }
}
