// @import "blocks/related-product.scss";

.related-product {
  @include second-font;
}

.related-product__wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 37px;

  @media (min-width: $desktop-width) {
    grid-template-columns: 896px 245px;
    gap: 80px;
  }
}

.related-product__catalog {
  padding-top: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.related-product__title {
  width: fit-content;
  margin: 0 0 34px;
  text-align: left;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  color: $basic-black;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 78px;
  }
}

.related-product__list {
  width: 100%;
}

.related-product__item {
  @include display-flex-wrap;
  justify-content: space-between;
  padding-top: 12px;
  border-top: 1px solid $catalog-border;
  border-bottom: 1px solid $catalog-border;
  margin-bottom: 15px;
}

.related-product__name {
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $catalog-title;
  padding: 0;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: 324px;
  }
}

.related-product__propety {
  @include main-font;
  font-size: 14px;
  line-height: 14px;
  color: $main-content;
  padding: 13px 0 15px;
  text-align: right;

  @media (min-width: $tablet-width) {
    width: 20%;
  }

  @media (min-width: $desktop-width) {
    width: 15%;
    text-align: left;
  }
}

.related-product__propety-value-upp {
  text-transform: uppercase;
}

.related-product__order {
  width: 100%;

  @media (min-width: $desktop-width) {
    width: 244px;
  }
}

.related-product__button {
  width: 100%;

  @media (min-width: $desktop-width) {
    height: 40px;
  }
}
