// @import "blocks/slider-control.scss";

.slider-control {
  margin: 0 auto;
}

.slider-control__button {
  @include display-flex-wrap;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: $basic-black;
  width: min-content;
  margin: 0;
  padding: 0;
  border: none;
}

.slider-control__button-text {
  @include second-font;
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 2px;
  text-transform: uppercase;
  border-bottom: 1px dotted rgba($basic-black, 0.24);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 4px;
  }

  &:hover,
  &:focus {
    border-bottom: 1px solid rgba($basic-black, 0.24);
  }

  &:active {
    border-bottom: none;
  }
}

.slider-control__range {
  width: 82px;
  height: 12px;
  border: 1px solid $slider-border;
  border-radius: 6px;
  background-color: $basic-white;
  position: relative;
  margin: 0 17px;

  @media (min-width: $tablet-width) {
    margin: 0 12px;
    width: 428px;
    height: 6px;
    border: none;
    background-color: $slider-border;
  }

  @media (min-width: $tablet-width) {
    margin: 0 22px;
  }
}

.slider-control__bar {
  width: 35px;
  height: 6px;
  background-color: $accent-color;
  border-radius: 6px;
  margin: 4px 6px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 34px;
    height: 34px;
    background-color: $basic-white;
    border: 1px solid $slider-border;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    left: 191px;
    top: -16px;

    &::before {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      background-color: $accent-color;
      border-radius: 50%;
      position: absolute;
      top: 12px;
      left: 12px;
    }
  }
}
