// @import "blocks/slider.scss";

.slider {
  position: relative;

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.slider__list {
  @include reset-list;
  @include display-flex-wrap;
  justify-content: center;
}

.slider__item--invisible {
  display: none;
}

.slider__item {
  width: 280px;
  height: 232px;
  position: relative;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 354px;
    height: 532px;
    display: block;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 305px;
    height: 552px;
  }
}

@media (max-width: $mobile-width-only) {
  .slider__item--fat {
    display: block;
  }

  .slider__image {
    width: 311px;
    height: 232px;
    display: block;
    position: absolute;
    left: -20px;
    object-fit: contain;
  }
}

@media (min-width: $tablet-width) {
  .slider__image {
    width: 354px;
    height: 100%;
    object-fit: cover;
  }

  .slider__image--fat {
    object-position: 10px 0;
  }

  .slider__image--skinny {
    object-position: -255px 0;
  }
}

@media (min-width: $desktop-width) {
  .slider__image {
    width: 334px;
  }

  .slider__image--fat {
    object-position: -70px 0;
  }

  .slider__image--skinny {
    object-position: -280px 0;
  }
}

.slider__control {
  @include display-flex-wrap;
  justify-content: center;
  align-items: center;
  min-height: 40px;

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
  }
}
