// @import "blocks/slider.scss";

.slider {
  position: relative;

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.slider__list {
  @include reset-list;
  @include display-flex-wrap;
  justify-content: center;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
  }
}

.slider__item {
  display: block;
  width: 280px;
  height: 232px;
  overflow: hidden;
  position: relative;

  @media (max-width: $mobile-width-only) {
    &:last-child {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 354px;
    height: 520px;
  }

  @media (min-width: $desktop-width) {
    &--fat {
      width: 335px;
    }

    &--skinny {
      width: 285px;
    }
  }
}

.slider__image {
  display: block;
  height: 100%;
  object-fit: cover;
  object-position: -20px;

  @media (min-width: $tablet-width) {
    &--fat {
      object-position: 16px;
    }

    &--skinny {
      object-position: -246px;
    }
  }

  @media (min-width: $desktop-width) {
    &--fat {
      object-position: -30px;
    }

    &--skinny {
      object-position: -275px;
    }
  }
}

.slider__control {
  @include display-flex-wrap;
  justify-content: center;
  align-items: center;
  height: 30px;

  @media (min-width: $desktop-width) {
    justify-content: flex-end;
  }
}
