// @import "blocks/social.scss";

.social__list {
  @include reset-list;
  @include display-flex-wrap;
  justify-content: center;
  align-items: center;
}

.social__item:not(:last-child) {
  margin-right: 38px;

  @media (min-width: $tablet-width) {
    margin-right: 28px;
  }
}
