// @import "blocks/social.scss";

.social__list {
  @include reset-list;
  @include display-flex-wrap;
  justify-content: center;
  align-items: center;
}

.social__icon {
  &--vk,
  &--insta {
    fill: $icon-basic-color;

    &:hover,
    &:focus {
      fill: $accent-color;
    }
  }

  &--fb {
    fill: none;
    stroke: $icon-basic-color;

    &:hover,
    &:focus {
      stroke: $accent-color;
    }
  }
}

.social__icon:active {
    opacity: 0.3;
  }


.social__item:not(:last-child) {
  margin-right: 38px;

  @media (min-width: $tablet-width) {
    margin-right: 28px;
  }
}

.social__link {
  width: 100%;
}
