// @import "blocks/social.scss";

.social__list {
  @include reset-list;
  @include display-flex-wrap;
  justify-content: center;
  align-items: center;
}

.social__icon {
  &:hover .social__icon-path,
  &:focus .social__icon-path {
    fill: $accent-color;
  }

  &:active {
    opacity: 0.3;
  }
} /*внести изменения для иконки фейсбук*/

.social__item:not(:last-child) {
  margin-right: 38px;

  @media (min-width: $tablet-width) {
    margin-right: 28px;
  }
}

.social__link {
  width: 100%;
}
