// @import "blocks/stat.scss";

.stat {
  margin-bottom: 34px;

  @media (min-width: $desktop-width) {
    padding-top: 60px;
    margin-bottom: 0;
  }
}

.stat__title {
  @include second-font;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
  margin: 0 0 34px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin: 0 0 64px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 146px;
  }
}

.stat__text {
  margin: 0 0 25px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 72%;
    min-height: 96px;
    margin-bottom: 70px;
  }
}

.stat__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 56px auto;
  gap: 34px 31px;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: 162px 162px auto;
    grid-template-rows: 72px auto;
    gap: 42px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 162px 162px;
    grid-template-rows: 73px 20px;
    gap: 58px 42px;
  }
}

.stat__item {
  background: url("../img/index_img/broken-frame.png") no-repeat;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 14px;

  @media (min-width: $tablet-width) {
    background-size: 100% 100%;
  }
}

.stat__number {
  @include second-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 9px;
  color: $basic-black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 6px;
  }
}

.stat__discription {
  min-height: 13px;
  margin: 0 auto;
  width: min-content;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  text-align: center;
  color: $main-content;

  @media (min-width: $tablet-width) {
    padding: 6px;
    width: max-content;
    font-size: 14px;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    background-color: $basic-background;
  }
}

.stat__item-value-total {
  grid-column: 1/-1;
  margin: auto;

  @include display-flex-wrap;
  justify-content: center;
  width: 100%;
  min-height: 20px;

  @include second-font;
  font-size: 14px;
  line-height: 20px;
  color: $basic-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    grid-column: 3/-1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    grid-column: 1/-1;
    margin: 0;
    flex-direction: row;

    @include display-flex-wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.stat__sum {
  order: 1;

  @media (min-width: $desktop-width) {
    width: 32%;
    margin-top: 0;
    text-align: center;
  }
}

.stat__total {
  margin: 0 4px 0 0;

  @media (min-width: $tablet-width) {
    margin: 0 0 10px;
  }

  @media (min-width: $desktop-width) {
    width: 60%;
    margin-right: 5px;
  }
}
