// @import "blocks/stat.scss";

.stat {
  @include display-flex-wrap;
  flex-direction: column;
  background-color: $slider-background;
}

.stat__title {
  @include second-font;
  font-size: 36px;
  line-height: 40px;
  color: $basic-black;
  padding-top: 27px;
  margin: 0;
}

.stat__text {
  padding-top: 33px;
  padding-bottom: 25px;
  margin: 0;
}

.stat__list {
  @include display-flex-wrap;
  margin: 0;
}

.stat__item {
  width: 124px;
  min-height: 64px;
}

.stat__number {
  @include second-font;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  margin: 15px 0 10px;
  color: $basic-black;
}

.stat__discription {
  width: 60px;
  min-height: 13px;
  margin: 0 auto;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  text-align: center;
}

.stat__item-total {
  @include display-flex-wrap;
  justify-content: center;

  @include second-font;
  font-size: 14px;
  line-height: 20px;
  color: $basic-black;
  margin: 25px auto;
  text-transform: uppercase;
}

.stat__sum {
  margin: 0;
  order: 1;
}

.stat__total {
  margin: 0;
}
