// @import "blocks/title-greenline.scss";

.title-greenline {
  position: relative;

  @media (min-width: $tablet-width) {
    &::before {
      content: "";
      display: block;
      width: 100vw;
      height: 2px;
      background-color: $accent-color;
      position: absolute;
      right: 110%;
      top: 15px;
    }
  }

  &::after {
    content: "";
    display: block;
    width: 100vw;
    height: 2px;
    background-color: $accent-color;
    position: absolute;
    left: 110%;
    top: 15px;
  }
}
