/*global*/

.page {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

.page__body {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $main-content;
  min-height: 100%;
  background-color: $basic-white;
  display: grid;
  align-content: start;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  position: relative;

  @media (min-width: 768px) {
    padding: 0 30px;
  }

  @media (min-width: 1440px) {
    padding: 0 110px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.invisible {
  display: none;
}
