//colors
$basic-black: #000000;
$basic-white: #ffffff;
$basic-background: #f2f2f2;

$header-element-color: #e6e6e6;
$main-element-color: #d9d9d9;

$accent-color: #68b738;

$main-content: #444444;
$footer-title: #111111;

$accent-color-background: rgba(104, 183, 56, 0.85);
