
//colors

$basic-black: #000000;
$basic-white: #ffffff;
$basic-background: #f2f2f2;

$header-element-color: #e6e6e6;
$main-element-color: #d9d9d9;

$accent-color: #68b738;
$accent-color-hover: #5eaa2f;

$main-content: #444444;
$subtitle-color: #111111;

$discription-color: #c4c4c4;
$slider-background: #eaeaea;
$slider-border: #cdcdcd;
$input-border-light: #e7e7e7;
$catalog-border: #ebebeb;
$catalog-title: #222222;

$error-color: #ff8282;
$form-hover-color: #bababa;

//viewport width

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
